* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue div {
  margin: 2px
}
.clueSat{
  background-color: red;
}
.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column; 
}
.button-container{
  display: flex;
  grid-auto-flow: column;
  gap: 10px;
  align-items:flex-start;
}
.game-info {
  margin-left: 20px;
}
.button-specific-solution{
  background-color: #e5ff00; 
  border: none; 
  padding: 10px 25px; 
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.3s; 
}

.button-content {
  background-color: #272447; 
  border: none; 
  color: white; 
  padding: 10px 25px; 
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; 
}
.button-solution{
  background-color: #00bb09; 
  border: none; 
  color: white; 
  padding: 10px 25px; 
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; 
}
.background_neutral{
  background: #b9d6e0;
}
.background_correcto{
  background: #09ff00;
}
.boards{
  display: flex;
  
}
.boardSolutionInactivo{
  opacity: 0;
}
.boardSolutionActivo{
  opacity: 100;
}